@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open-Sans', sans-serif;
    background-color: #1a1b1c;
}

.main, .header, .footer {
    padding: 0 10rem;
}

.nav-links a {
    position: relative;
}
  
.nav-links a:hover {
    text-decoration: underline;
}

.Toastify__toast-container {
    background-color: transparent;
}

.Toastify__toast--success {
    color: green !important;
}

.Toastify__toast--error {
    color: red !important;
}